{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

{% if user.is_authenticated %}


<div class="welcome">
    <h1>Welcome {{ user.first_name }}!!</h1>
    <h2 style="text-align: center;"><u>User Profile</u></h2>
    <h2 class="name">First Name : {{ user.first_name }}</h2>
    <h2 class="name">Last Name : {{ user.last_name }}</h2>
    <h2 class="name">User Name : {{ user.username }}</h2>
    <h2 class="name">Email ID : {{ user.email }}</h2>
    <a href="/signout" class="logout">Logout</a>
</div>


{% else %}

<div><a href="/signin" class="button sign-in">Sign In</a></div>
<div><a href="/signup" class="button sign-up">Sign Up</a></div>

{% endif %}


{% endblock %}