{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="welcome">
        <h1 style="text-align: center; font-size: 26px;;">Login To Your Account</h1>
        {% if msg %}
        <h3 style="text-align: center; color:red;">{{ msg }}</h3>

        {% endif %}
        <form method="post">
          {% csrf_token %}
            <div class="form-field">
          {{ form.as_p }}
            </div>
          <button type="submit" class="button1 sign-in">Sign In</button>
        </form>

        <h3>New User? <a href="/signup">Sign Up</a></h3>
    </div>

{% endblock %}